@import "./settings.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./fontawesome/font-awesome.scss";

body {
  @extend .container-fluid;
}

header {
  @include make-row();
  @include make-col-ready();

  h1 {
    @include make-col(12);
    font-size: 8vw;
    @include media-breakpoint-down(xs) {
        font-size: 18vw;
    }
  }

  p {
    @include make-col(12);

    @extend .lead;
    @extend .text-muted;

    font-weight: 400;
  }
}


nav {
  @extend .nav;

  a {
    @extend .nav-link;
  }
}

.social {
  position: absolute;

  font-size: 3vw;

  @include media-breakpoint-down(xs) {
      font-size: 12vw;
  }

  top: 0em;
  right: 0em;
  width: 2em;
}

aside {
    @extend .pull-right;
    @extend .col-md-4;
    @extend .col-sm-12;
}

input {
    @extend .form-control;
}

form {
    .group {
        @extend .form-group;
    }
}

button {
   @extend .btn;
}

button.primary {
   @extend .btn-primary;
}

i {
  @extend .fa;
  &.linkedin { @extend .fa-linkedin; }
  &.twitter { @extend .fa-twitter; }
}

a {
  &:hover {
    text-decoration: underline;
  }
}
