@import '../../../../node_modules/tachyons-sass/tachyons.scss';

article.blog__preview {
    @extend .dib;
    @extend .pr2;
    @extend .w-100;
    @extend .w-50-m;
    @extend .w-33-ns;
    @extend .v-top;

    h2 {
        @extend .fw1;
        @extend .f5;
    
        margin-top: -1rem;
        margin-bottom: 1rem;
    }

    a {
        text-decoration: none;
        @extend .black-80;
        @extend .hover-light-blue;
        transition: 0.5s color ease;
    }

    

    .updated {
        @extend .f5;
    }
}