@import "./settings.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./fontawesome/font-awesome.scss";

body {
  @extend .container-fluid;
}

header {
  @include make-row();
  @include make-col-ready();

  h1 {
    @include make-col(12);
    font-size: 8vw;
  }

  p {
    @include make-col(12);

    @extend .lead;
    @extend .text-muted;

    font-weight: 400;
  }
}

nav {
  @extend .navbar;
  @extend .navbar-light;

  ul {

    margin-left: -15px;
    @extend .nav;
    @extend .navbar-nav;

    &.right {
      @extend .pull-right;
    }
  }

  li {
    @extend .nav-item;
  }

  a {
    @extend .nav-link;
    @extend .fa-lg;

    &:hover {
      text-decoration: underline;
    }
  }

  i {
    @extend .fa-lg;
  }
}

aside {
    @extend .bg-faded;
    @extend .pull-right;
    @extend .col-md-3;
    @extend .col-sm-12;
}

i {
  @extend .fa;
  &.linkedin { @extend .fa-linkedin; }
  &.twitter { @extend .fa-twitter; }
}

a {
  &:hover {
    text-decoration: underline;
  }
}
