@font-face {
  font-family: Raleway;
  src: url('/fonts/raleway_thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/raleway_thin-webfont.svg') format('svg'),
    url('/fonts/raleway_thin-webfont.ttf') format('truetype'),
    url('/fonts/raleway_thin-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Goudy Bookletter 1911';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/goudy_bookletter_1911-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/goudy_bookletter_1911-webfont.svg') format('svg'),
    url('/fonts/goudy_bookletter_1911-webfont.ttf') format('truetype'),
    url('/fonts/goudy_bookletter_1911-webfont.woff') format('woff');
}

body {
  font-family: 'Goudy Bookletter 1911';
}
