.sections-enter {
    height: 0;
    opacity: 0;
}

.sections-enter-active {
    height: 0;
    opacity: 0;
}

.sections-enter-done {
    opacity: 1;
    transition: opacity 300ms;
}

.sections-exit {
    opacity: 1;
}

.sections-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}
